{% extends "base.html" %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style/core/style.css">
{% endblock %}


{% block content %}

<!-- signup block-->
<div class="row-fluid signup-content">

   <div id="signup-info" class="span7">
      <img src="{{ STATIC_URL }}/img/happy-people.jpg" class="img-polaroid">
   </div>

   <div id="signup-form" class="span5">
      <h1>Sign UP</h1>
      <h4>It is free and always will be.</h4>
      <form class="signup-form">
         <div class="control-group">
            <button class=".btn btn-facebook" type="button">Login with Facebook</button>
         </div>
         <div class="control-group">
            {{ signup_form.email_signup }}
         </div>
         <div class="control-group">
            {{ signup_form.school_signup }}
         </div>
         <div class="control-group">
            {{ signup_form.password_signup }}
         </div>
         <div class="control-group">
            {{ signup_form.re_enter_password_signup }}
         </div>
         <div class="control-group">
            <span class="help-block">By clicking Sign Up, you agree to our Terms and that you have read our Data Use Policy. </span>
         </div>
         <div class="control-group">
            <button  type="submit" class="btn btn-success">Sign Up</button>
         </div>
      </form>
   </div>
   
</div>
<!-- end of signup block -->

<!-- info block -->
<div class="row-fluid">
   <div class="tabbable tabs-top">
      <ul id="info-tabs" class="nav nav-tabs">
         <li class="active span4"><a href="#home" data-toggle="tab">
            <div class="tab-text">Chat</div></a>
         </li>
         <li class="span4">
            <a href="#profile" data-toggle="tab">
               <div class="tab-text">Book</div>
            </a>
         </li>
         <li class="span4">
            <a href="#messages" data-toggle="tab">
               <div class="tab-text">Discussion Board</div>
            </a>
         </li>
      </ul>

      <div class="tab-content">
         <div class="tab-pane fade in active" id="home">
            fdsdf<br />
            fdsdf<br />
            fdsdf<br />
            fdsdf<br />
            fdsdf<br />
            fdsdf<br />
            fdsdf<br />
            fdsdf 
         </div>
         
         <div class="tab-pane fade in " id="profile">
            hjkgg
         </div>

         <div class="tab-pane fade in " id="messages">
            sdf
         </div> 

      </div>
   </div>
</div>
<!-- end of info block -->

{% endblock %}

{% block script %}
<script src="http://alittlecode.com/files/jQuery-Validate-Demo/assets/js/jquery.validate.min.js"></script>
<script src="{{ STATIC_URL }}/js/core/index.js"></script>
{% endblock %}