{% extends "../base.html" %}

{% block content %}

<!-- signup block-->
<div class="row-fluid">
   <div id="signup-info" class="span6 offset1">
      <h1>Sign UP</h1>
      <h4>It is free and always will be.</h4>
      <img src="pic.jpg" class="img-polaroid">
   </div>

   <div id="signup-form" class="span4 offset1">
      <div class="form">
         <div class="control-group">
            <button class=".btn btn-facebook" type="button">Login with Facebook</button>
         </div>
         <div class="control-group">
            <input type="email" placeholder="Your Email">
         </div>
         <div class="control-group">
            <input type="text" placeholder="Your School Name">
         </div>
         <div class="control-group">
            <input type="password" placeholder="Password">
         </div>
         <div class="control-group">
            <input type="password" placeholder="Re-enter Password">
         </div>
         <div class="control-group">
            <span class="help-block">By clicking Sign Up, you agree to our Terms and that you have read our Data Use Policy. </span>
         </div>
         <div class="control-group">
            <button class="btn btn-success" type="button">Sign Up</button>
         </div>
      </div>
   </div>
</div>
<!-- end of signup block -->

<!-- info block -->
<div class="row-fluid">
   <div class="tabbable tabs-top">
      <ul id="info-tabs" class="nav nav-tabs">
         <li class="active span4"><a href="#home" data-toggle="tab">
            <div class="tab-text">Chat</div></a>
         </li>
         <li class="span4">
            <a href="#profile" data-toggle="tab">
               <div class="tab-text">Book</div>
            </a>
         </li>
         <li class="span4">
            <a href="#messages" data-toggle="tab">
               <div class="tab-text">Discussion Board</div>
            </a>
         </li>
      </ul>

      <div class="tab-content">
         <div class="tab-pane fade in active" id="home">
            fdsdf<br />
            fdsdf<br />
            fdsdf<br />
            fdsdf<br />
            fdsdf<br />
            fdsdf<br />
            fdsdf<br />
            fdsdf 
         </div>
         
         <div class="tab-pane fade in " id="profile">
            hjkgg
         </div>

         <div class="tab-pane fade in " id="messages">
            sdf
         </div> 

      </div>
   </div>
</div>
<!-- end of info block -->

{% endblock %}