{% extends "base.html" %}

{% block title %} 
  {{ school_name }} Chat
{% endblock %}

{% block css %}
<style>
  #chat-msgs {
    background-color: white;
    height: 100px;
    overflow: scroll;
  }
</style>
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span8">
    <ol id="chat-msgs"></ol>
    <input id="chat-input-text" type="text">
    <input id="chat-input-button" type="button" value="send">
  </div>
  <div class="span4">
    Hi
  </div>
</div>
{% endblock %}

{% block script %}
<script src="{{STATIC_URL}}/lib/moment/moment.min.js"></script>
<script src="{{STATIC_URL}}/lib/socketio/socket.io.min.js"></script>
<script src="{{STATIC_URL}}/js/chat/chat.js"></script>
{% endblock %}
