{% extends "base.html" %}

{% block title %} 
  {{ school_name }} Chat
{% endblock %}

{% block css %}
<style>
  #chat-msgs {
    background-color: white;
    height: 400px;
    overflow: auto;
    margin: 0 0 20px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
  }

  #chat-rooms {
    margin: 15px 0;
  }

  .chat-msg {
    list-style: none;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  #chat-users {
    background-color: white;
    height: 380px;
    overflow: auto;
    margin: 0;
    border: 1px solid #ccc;
    padding: 10px;
  }

  .chat-user {
    list-style: none;
  }

  #chat-input-text {
    width: 300px;
  }
</style>
{% endblock %}

{% block content %}
<div class="row-fluid">
  <div class="span12">
    <ul id="chat-rooms" class="nav nav-pills">
      <li class="chat-tab active"><a href="#">{{ school_name }}</a></li>
      <li class="chat-tab"><a href="#">Computer Science</a></li>
      <li class="chat-tab"><a href="#">Software Engineering</a></li>
      <li id="chat-tab-add"><a href="#">+</a></li>
    </ul>
  </div>
</div>
<div class="row-fluid">
  <div class="span10">
    <ol id="chat-msgs"></ol>
    <div class="input-prepend input-append">
      <span class="add-on">Enter message:</span>
      <input id="chat-input-text" type="text">
      <input id="chat-input-button" class="btn" type="button" value="Send">
    </div>
  </div>
  <div class="span2">
    <ol id="chat-users">
      <li class='chat-user'><span class='label label-info'>{{ user.username }}</span></li>
    </ol>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
  var defaultRoom = "{{ school_name }}";
  var user = "{{ user.username }}";
</script>
<script src="{{STATIC_URL}}/lib/moment/moment.min.js"></script>
<script src="{{STATIC_URL}}/lib/socketio/socket.io.min.js"></script>
<script src="{{STATIC_URL}}/js/chat/chat.js"></script>
{% endblock %}
