body {
	background-image: url("../img/pw_maze_white.png");
}

.foo {
	background: rgb(23, 161, 199);
}


/* top-navbar */

#top-navbar {
	margin-bottom: 0px;
}

#top-navbar .navbar-inner {
	background-color: #5a9ecc;
	background-image: url("../img/download.png");
	padding: 0;
	min-height: 70px;
}

#top-navbar .brand {
	text-shadow: none;
	color: white;
	font-weight: bold;
	font-size: 35px;
   margin: 13px 0 0 5px;
}

#top-navbar .remeber-me, #top-navbar .forgot-pass {
	color:  rgb(238, 238, 238);
	margin-left: 5px;
} 

#top-navbar input[type="email"], #top-navbar input[type="password"] {
	width: 200px;
    margin: 13px 5px 3px;
}

#top-navbar button[type="submit"] {
	color: #5a9ecc;
   	margin: 13px 13px 0 8px;
	font-weight: bold;
	width: 80px;
}


/* signup */

#signup-info h1, #signup-info h4 {
   margin: 18px 0 5px;
	color: #3F4140;
}

#signup-info img {
   box-sizing: border-box;
}

#signup-form {
   margin-top: 35px;
   margin-bottom: 20px;
}

#signup-form input {
   box-sizing: border-box;
	height: 38px;
	width: 100%;
}

#signup-form .btn-success {
	height: 50px;
	width: 100%;
}

#signup-form .btn-facebook {
	width: 100%;
	color: #ffffff;
	background-color: #3b5998;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #627aad, #3b5998);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #627aad), color-stop(100%, #3b5998));
	background-image: -webkit-linear-gradient(top, #627aad, #3b5998);
	background-image: linear-gradient(top, #627aad, #3b5998);
	border-color: #3b5998 #3b5998 #263961;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

/******* Home **************/
#welcome-bar {
	background-color: rgb(168, 184, 204);
}

#welcome-bar .welcome-text {
	font-size: 20px;
	font-weight: bold;
	border-left: 1px solid  rgb(159, 170, 184);
	border-right: 1px solid  rgb(159, 170, 184);
}

#welcome-bar .welcome-text > a, 
#welcome-bar .nav-menu .menu > a {
   color: rgb(238, 238, 238);
   font-weight: bold;
}

#welcome-bar .welcome-text > a:hover, 
#welcome-bar .nav-menu .menu > a:hover {
   color: #5a9ecc;
   border-radius: 0px;
}

#welcome-bar .nav-menu .menu {
   float: right;
   border-left: 1px solid  rgb(159, 170, 184);
   width: 140px;
}

#welcome-bar .nav-menu .nav-pills {
   margin-bottom: 0px;
}

#welcome-bar .nav-menu .menu:first-child {
   border-right: 1px solid  rgb(159, 170, 184);

}



/* content */

#content {
   	margin-top: 2px;
}

#content #info-tabs {
   margin-bottom: 0;
}

#content .tab-content {
   background-color: #FBFEFF;
}


/* Options*/

.menu .side-menu {
   background-color: white;
	padding: 20px 0 20px 0;
	border: 1px solid lightgray;
}

.menu .menu-item {
	height: 50px;
}

.menu .menu-box {
	width: 82px;
	height: 42px;
	background: black;
	float: left;
	margin-left: -6px;
}

.menu .menu-text{
	margin: 10px 0px 0px 10px;
	color: #3F4140;
	float: left;
	font-size: 20px;

}

.menu .menu-book {
	background: #FBB917;
}

.menu .menu-chat {
	background: #2B60DE;
}

.menu .menu-discussion {
	background: #347C2C;
}

.menu .slides {
   height: 190px;
   background-color: white;
   border: 1px solid lightgray;
}

.new-update {
   background-color: white;
	height: 200px;
	border: 1px solid lightgray
}





/**********  discussion *************/
.discussion-bar {
	margin-top: 15px;
}

.discussion-bar [class*="span"] {
    margin-bottom: 10px;
}

.discussion-bar .new-post .btn {
	width: 100%;
	color: white;
}

.discussion-bar .input-append {
	float: right;
	
}

.discussion-bar .input-append input {

}



.discussion-table {
	position: relative;
	padding: 65px 19px 14px;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-bottom: 15px;
}

.discussion-table::after
{
    content: "Most Recent Discussion";
    position: absolute;
    top: 19px;
    left: -8px;
    padding: 3px 7px;
    font-size: 18px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #5a9ecc;
}

.discussion-table .pager .previous {
	float: left;
}

.discussion-table .pager .next {
	float: right;
}

.recommended-you {
	background-color: #fff;
}



.btn {
	font-weight: bold;
	color: #5a9ecc;
}

/*****************discussion message *********/
.breadcrumb {
	background-color: #fff;
	margin-bottom: 10px;
}

.main-header {
	height: 40px;
	background-color: rgb(168, 184, 204);
	color: #fff;
}

.main-header .btn {
	position: relative;
	float: right;
	margin: 8px 11px 0px 0px;
	color: #fff;
	font-weight: bold;
	font-size: 13px;
}

.post-content {
	position: relative;
	background-color: #fff;
	border: 1px solid #ddd;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.post-userinfo {
	position:absolute;
	display: block;
	background-color: #f0f6fe;
	height: 100%;
	width: inherit;
}

.post-ident {
	position: relative;
	height: 30px;
	background-color: #fff;
	margin-top: 5px;
}

.post-body {
	position: relative;
	height: 80px;
	background-color: #fff;
}

.post-options {
	position: relative;
	height: 40px;
	background-color: #fff;
}

.post-options .btn {
	position: relative;
	float: right;
	margin: 6px 11px 0px 0px;
	width: 90px;
}
.pagination {
	float: right;
}

/* book page*/

#rec {
	font-family: 'Kavoon';
	color:rgb(23, 161, 199);
}

.addBook {
	background-color: white;
	padding: 30px 10px 20px 0px;
	border: 1px solid lightgray;
	box-shadow: 4px 4px 4px lightgray;
}


.book-search {
	background-color: white;
	padding: 0px 0px 40px 20px;
	border: 1px solid lightgray;
	margin: 0px 0px 5px 0px;
	box-shadow: 4px 4px 4px lightgray;
}

#book-filter {
	background-color: white;
	padding: 30px 10px 20px 0px;
	border: 1px solid lightgray;
	box-shadow: 4px 4px 4px lightgray;
}

#search-result {
	background-color: white;
	padding: 10px 0px 20px 30px;
	border: 1px solid lightgray;
	box-shadow: 4px 4px 4px lightgray;
}


#controller {
	border-bottom: 2px solid lightgray
}


#filter-find {
	margin-left:20px;
}

#book-path{
	 background-color: #ffffff;
}

.thumbnail {
	box-shadow: 4px 4px 4px lightgray;
}

/* single book page*/

.bookImages {
	background-color: white;
	padding: 0px 10px 0px 0px;
	border: 1px solid lightgray;
}

.bookOverview {
	background-color: white;
	padding: 0px 10px 0px 0px;
	border: 1px solid lightgray;
}

.contactSeller {
	text-align:right;
}

.bookShare {
	background-color: white;
	padding: 0px 0px 0px 0px;
	border: 1px solid lightgray;
}

#bookOverview-arrange {
	margin-left:10px;
}

#bookTab {
	background-color: blue;
}

.myRating > span {
  display: inline-block;
  position: relative;
  width: 1.2em;
}

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   left: 0; 
   color: gold;
}

/* addBook */
.addBookStep {
	background-color: white;
	padding: 0px 0px 0px 0px;
	border: 1px solid lightgray;
}









