{% extends "base.html" %}

{%block title %} 
    Welcome to Home page 
{% endblock %}

{% block content %}
<div class="row-fluid">

   <div class="menu">
      <div class="span4">
         <!-- side-menu -->
         <div class="side-menu">
            <div class="menu-item">
               <a href="{% url 'index' %}">
                  <div class="menu-box menu-book"></div>
                  <div class="menu-text">Book</div>
               </a>
            </div>

            <div class="menu-item">
               <a href="#">
                  <div class="menu-box menu-chat"></div>
                  <div class="menu-text">Chat</div>
               </a>
            </div>

            <div class="menu-item">
               <a href="#">
                  <div class="menu-box menu-discussion"></div>
                  <div class="menu-text">Discussion</div>
               </a>
            </div>
         </div>
         <!-- end side-menu -->
      </div>

      <div class="span8">
         <div class="slides">

         </div>
      </div>
   </div>
   <!-- end menu -->

</div>

<div class="row-fluid">
   <div class="new-update">
      new upadtes
   </div>
</div>