<div id="welcome-bar">
	<div class="container">
      <div class="row-fluid">
      <span class="span12">
      <div class="nav-menu">

         <ul class="nav nav-pills">
            <li class="menu"><a href="{% url 'book' user.school.short_name %}">Book</a></li>
            <li class="menu"><a href="{% url 'chat' user.school.short_name %}">Chat</a></li>
            <li class="menu"><a href="{% url 'discussion' user.school.short_name %}">Dicussion</a></li>
            <li class="welcome-text">
               <a href="#">Cal Poly Board</a>
            </li>
         </ul>
      
      </div>
      </div>
      </div>
   </div>
</div>
