/* add book steps page*/
label.valid {
    width: 10%;
    background: url(/static/img/valid.png) center center no-repeat;
    text-indent: -9999px;
    float: right;
    margin-top: 8px;
}

label.error {
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
}

.star {
	color: red;
}

.required-field {
	font-weight: bold;
	font-size: 15px;
}

.content {
	border: 1px solid lightgray;
	background-color: whiteSmoke;
}

.addBook-StepOne, .addBook-StepTwo, .addBook-StepThree {
	margin-left: 10px;
}

.example {
	font-weight: bold;
	font-size: 10px;
}

.step-title {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0px 30px 0px;
}

.step-content {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    font-size: 20px;
    margin: 20px 0px 20px 0px;
}

.sum-school, .sum-dpt, .sum-class, 
.sum-book, .sum-author, .sum-ISBN, .sum-price, .sum-condition, .sum-description {
	color: #7FB9EC;
}

.stepone-btn .next .btn {
	width: 70%;
	margin: 20px 0px 20px 20px;
}

.steptwo-btn .next .btn{
	width: 70%;
	margin: 20px 0px 20px 20px;
}

.steptwo-btn .pre .btn{
	width: 70%;
	margin: 20px 0px 20px 20px;
}

.stepthree-btn .next .btn {
	width: 70%;
	margin: 20px 0px 20px 20px;
}

.stepthree-btn .pre .btn {
	width: 70%;
	margin: 20px 0px 20px 20px;
}

.addBook-StepTwo .input-description {
	width: 85%;
}

.addBook-StepThree .sum-description {
	width: 50%;
	height: 120px;
}

/* add book result page*/
.result-image {
	margin: 20px 0px 10px 20px;
}

.result-image img {
	width: 50px;
	height: 50px;
}

.result-msg {
	margin: 10px 0px 10px 10px;
}

.result-msg .error {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    font-size: 20px;
	color: red;
	margin: 0px 0px 30px 0px;
}

.result-url {
	margin: 0px 0px 20px 100px;
}

.result-url a {
	font-size: 18px;
}

/* book view page */
.book-content {
	border: 1px solid lightgray;
	background-color: whiteSmoke;
	margin: 5px 0px 0px 0px;
	box-shadow: 2px 2px 1px lightgray;
}

.breadcrumb .state {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
	font-size: 20px;
}

.breadcrumb .path {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
	font-size:150%;
}

.bookImages {
	margin: 5px 5px 5px 5px;
	border: 2px solid lightgray;
}

.bookImages img {
	width: 100%;
	height: 200px;
}

.book-overview {
	border-left: 3px solid lightgray;
	padding: 0px 0px 0px 20px;
}

.book-title {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    font-size: 30px;
}

.book-view, .book-author {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 15px;
    margin: 0px 0px 0px 20px;
}

.title-view {
    margin: 10px 0px 10px 0px;
}

.book-price, .upload-date, .book-seller, .book-condition{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 20px;
}

.book-price .price, .book-price .ISBN, .upload-date .date, .book-seller .seller, .book-condition .condition, .share{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 20px;
    font-weight: bold;
}

.book-available-image, .book-sold-image{
	margin: 0px 0px 0px 20px;
	font-size: 15px;
}

.book-available-image img{
	width: 30px;
	height: 30px;
}

.book-sold-image img{
	width: 30px;
	height: 30px;
}

.book-view-description {
	width: 95%;
	margin: 5px 0px 10px 5px;
}

.myShare {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 0px 10px;
}

.sharrre {
    margin: 5px 0px 5px 5px;
    float:left;
    width:25%;
}

.carousel-inner {
	margin-top: 10px;
}

.caption {
	background-color:grey;
}


.related-book-title {
	color: white;
}

/* book page */
.most-viewed {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-size: 25px;
    font-weight: bold;
    color: white;
    background-color: rgb(23, 161, 199);
}

.carousel-content {
	border: 1px solid lightgray;
	background-color: #fff;
	margin-left: -5px;
}

.cloudcarousel {
	width:250px;
	height:200px;
}

.carousel-book {
	width:100%; 
	height:250px;
	background:#000;
	overflow:scroll;
	box-shadow: 3px 3px 3px gray;
	background-image: url("/static/img/grey.jpg");
	margin-top: 10px;
	margin-left: 5px;
}

.addBook {
	background-color: #fff;
	margin-top: 10px;
	margin-left: -5px;
	height: 60px;
}

.addBook .btn  {
	width: 80%;
	margin: 18px 0px 0px 5px;
}


.search-prompt {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: bold;
    font-size: 30px;
    margin: 20px 0px 30px 0px;
}

.book-list-content {
	padding-left: 10px;
	border: 1px solid lightgray;
	background-color: whiteSmoke;
}

.school-book-list {
	margin-left: 10px;
	margin-top: 10px;
}

.school-book-list .thumbnails .span3 .thumbnail {
	box-shadow: 5px 5px 5px gray;
}

.book-name-caption, .book-price-caption{
	background-color:grey;
}

.caption-detail {
	color: white;
}

.viewed-books {
    position: relative;
    padding: 50px 20px 10px 0px;
    background-color: #fff;
    margin: 10px 0px 10px -10px;
}

.viewed-books::after {
 	content: "Most Viewed Books in Your School";
    position: absolute;
    top: 19px;
    left: -8px;
    padding: 3px 7px;
    font-size: 18px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #5a9ecc;
}



 