{% extends "base.html" %}

{%block title %} 
   Welcome to Home page 
{% endblock %}

{% block css %}
   <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style/discussion/style.css">
{% endblock %}

{% block content %}

<div class="discussion-bar">
   <div class="row-fluid">      
      <div class="span12">
         <ul class="breadcrumb">
            <li>
               <a href="/{{school_name}}">{{user.school.name}}</a>
               <span class="divider">/</span>
            </li>
            <li>
               <a href="/{{school_name}}/discussion">discussion</a>
               <span class="divider">/</span>
            </li>
            <li>
               <a href="/{{school_name}}/discussion/departments">{{topic_name}}</a>
               <span class="divider">/</span>
            </li>
            <li class="active">
               Classes
            </li>
         </ul>
      </div>
   </div>
</div>



<div class="row-fluid">
   <div class="span12 table_header">
      <div class="table-title">Class List</div>
      <div class="row-fluid topic-search">
         <div class="span12">
            <form>
               <div class="input-append pull-right">
                  <input class="input-xlarge" id="appendedInputButtons" type="text">

                  <div class="btn-group">
                     <button class="btn" tabindex="-1">Search</button>
                  </div>
               </div>
            </form>
         </div>
      </div>

      <table class="table table-hover topic-table">
         <thead  class="table-list">
            <tr>
               <th>#</th>
               <th>Class Name</th>
               <th>Number of Post</th>
            </tr>
         </thead>
         
         <tbody>
            <tr>
            </tr>
         </tbody>

      </table>

      <div class="row-fluid">
         <div class="span4  create-post">
            <a href="/{{school_name}}/discussion/post">
               <button class="btn btn-success">Create a New Post</button>
            </a>
         </div>

         <div class="span8">
            <div class="pagination table-pagination  pull-right">
               <ul>
                  <li><a></a></li>
               </ul>
            </div>
         </div>

      </div>
   </div>
</div>
{% endblock %}

{% block script %}
<script src="{{STATIC_URL}}/js/pagination.js"></script>
<script src="{{STATIC_URL}}/js/discussion/topic.js"></script>

<script type="text/javascript">
   $(function () {
      var topic_count = {{topic_count}}
      var topics = new Topic(topic_count, 40);
      var extra_context = {"topic_name": "{{topic_name}}"};

      if (topic_count !== 0) {
         topics.get_page_data(
            "topic", 1, extra_context, topics.update_table);
         topics.set_topic_pagination();
      } else {
         console.log("no topics")
      }

      $(".table-pagination li").click(function(){
         change_page(topics, extra_context, $(this));
      });

   });
</script>


{% endblock %}