{% extends "base.html" %}

{%block title %} 
	 View Book Page
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style/book/style.css">
{% endblock %}

{% block content %}
 <!-- contact seller modal -->
 <div id="contact-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="contact-modal-label" aria-hidden="true">
		<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="contact-modal-label">Seller Information</h3>
     </div>
     <div class="modal-body">
       <h5> Seller: {{user.username}} </h5>
       <h5> Seller Email: {{book.seller.email}} </h5>
     </div>
     <div class="modal-footer">
       <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <button class="btn btn-primary">Message the Seller</button>
     </div>
 </div>
    <!-- end contact seller modal -->
      

<div class="container">
   <div class="book-content">
      <div class="row-fluid">
          <div class="span12">
            <ul class="breadcrumb">
               <span class="state">You are in </span><span class="state"> :  </span>
               <li><a href="#"><span class="path">{{school}}</span></a> <span class="divider">/</span></li>
               <li class = "active"><a href="#"><span class="path">{{book.dpt_name}}</span></a> <span class="divider">/</span></li> 
               <li class = "active"><a href="#"><span class="path">{{book.class_name}}</span></a> <span class="divider">/</span></li>
               <li class = "active"><a href="#"><span class="path">{{book.book_name}}</span></a> <span class="divider">/</span></li>
            </ul>
         </div>
      </div>
   </div> 

   <div class="book-content">
     <div class="row-fluid">
         <div class="span4">
             <div class="bookImages">
               <img src="{{MEDIA_URL}}/{{book.image}}">     
             </div> 
             <div class = "bookShare">
                 <div id = "bookOverview-arrange">
                  <font size = "3"><b>Share this product:</b></font>
                      <img src ="static/lib/bootstrap/img/facebookShare.jpg" style = "width:7%; padding:0 0 10px 10px;">
                      <img src ="static/lib/bootstrap/img/twitterShare.png" style = "width:7%; padding:0 0 10px 10px;">
                      <img src ="static/lib/bootstrap/img/googleplusShare.png" style = "width:7%; padding:0 0 10px 10px;">
                 </div>
             </div>
       	</div>

        <div class="span8">
             <div class = "book-overview">
                <div class="title-view">
                	<span class="book-title">{{book.book_name}}</span> 
                	{% if book.author %}
                	<span class="book-author">{{book.author}} (book author)</span>
                	{% else %}
						<span class="book-author">no author available</span>
                	{% endif %}
                	<span class="book-view">({{book.views}} Views)</span>
                </div>
                <div class="book-price">
                	 <span class="price">Price: </span>${{book.price}}
                   &nbsp;&nbsp;&nbsp;&nbsp;
                   {% if book.ISBN %}
                   <span class="ISBN">ISBN: </span>{{book.ISBN}}
                   {% else %}
                   <span class="ISBN">ISBN: </span>Not Available
                   {% endif %}
                </div><br>
                <div class="upload-date">
                	<span class="date">Upload Date: </span>{{book.created}}
                </div><br>
                <div class="book-condition">
                	<span class="condition">Condition: </span>
                	{% if book.condition %}
                		New
                	{% else %}
                		Used
                	{% endif %}
                </div><br>
                <div class="book-seller">
                	<span class="seller">Seller: </span>{{user.username}}
                	{% if book.isSold %}
                </div><br>
                <div class="book-availability">
                	<span class="book-sold-image">
                		(This Book is Sold Already)
							<img src="{{ STATIC_URL }}/img/addbookfail.png">
						</span>
                	{% else %}
                	<span class="book-available-image">
                		(This Book is Available)
							<img src="{{ STATIC_URL }}/img/addbooksuccess.png">
						</span>
                	{% endif %}
                </div><br>
                <div class="contactSeller">
                   <a class="btn btn-primary btn-large" style = "width: 40%;" href="#contact-modal" data-toggle="modal">
                      Contact Seller
                   </a>
               </div><br>
            </div>
       </div>
     </div>
   </div>

   <div class="book-content">
      <div class="row-fluid" style = "margin-top: 10px;">
        <div class="tabbable tabs-top">
              <ul id="info-tabs" class="nav nav-tabs">
                <li class="active span6">
                    <a href="#theDetails" data-toggle="tab"><div class="tab-text">Details</div></a>
                </li>
                <li class="span6">
                    <a href="#theRelated" data-toggle="tab"><div class="tab-text">Related Books</div></a>
                </li>
              </ul>

              <div class="tab-content">
                <div class="tab-pane fade in active" id="theDetails">
                   <textarea class="book-view-description" readonly rows="5">{{book.description}}</textarea>
                </div>

                <div class="tab-pane fade in " id="theRelated">
                     <div id="bookCarousel" class="carousel slide">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                          <div class="active item">
                            <ul class="thumbnails">
                            <li class ="span4">
                            <div class="thumbnail"><img src ="static/lib/bootstrap/img/pic6.jpg" alt=""  width = "80%"></div>
                            </li>
                            <li class ="span4">
                            <div class="thumbnail"><img src ="static/lib/bootstrap/img/pic5.jpg" alt=""  width = "80%"></div>
                            </li>
                             <li class ="span4">
                            <div class="thumbnail"><img src ="static/lib/bootstrap/img/pic4.jpg" alt=""  width = "80%"></div>
                            </li>
                          </div>
                          <div class="item">
                             <ul class="thumbnails">
                            <li class ="span4">
                            <div class="thumbnail"><img src ="static/lib/bootstrap/img/pic3.jpg" alt="" width = "80%"></div>
                            </li>
                            <li class ="span4">
                            <div class="thumbnail"><img src ="static/lib/bootstrap/img/pic2.jpg" alt=""  width = "80%"></div>
                            </li>
                             <li class ="span4">
                            <div class="thumbnail"><img src ="static/lib/bootstrap/img/pic1.jpg" alt=""  width = "80%"></div>
                            </li>
                          </div>
                        </div>
                        <!-- Carousel nav -->
                        <a class="carousel-control left" href="#bookCarousel" data-slide="prev">&lsaquo;</a>
                        <a class="carousel-control right" href="#bookCarousel" data-slide="next">&rsaquo;</a>
                    </div>
                </div>   
            </div>


        </div>
      </div>
   </div>

    </div>
</div>
{% endblock %}
