.search-bar {
    margin: 10px 0;
}

.discussion-bar {
    margin-bottom: 5px;
}

.create-post .btn {
    width: 100%;
    color: white;
}

.discussion-bar .breadcrumb {
    margin-bottom: 0;
    background: white;
    border-radius: 0;
}


.table_header {
    position: relative;
    padding: 55px 19px 14px;
    background-color: #fff;
    /*
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    */
    margin-bottom: 15px;
}

.table_header::after
{
    content: "Most Recent Discussion";
    position: absolute;
    top: 19px;
    left: -8px;
    padding: 3px 7px;
    font-size: 18px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #5a9ecc;
}

.table_header .view-all, .table_header .create-post {
    margin: 20px 0;
}

.recommended-you {
    background-color: #fff;
}



.btn {
    font-weight: bold;
    color: #5a9ecc;
}


/********************************/


.discussion-form {
    margin-top: 15px;
}

.discussion-form .the-legend {
    border-style: none;
    border-width: 0;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: bold;
}


.discussion-form .the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0 0 0 0 #000;
    box-shadow:  0 0 0 0 #000;
    background-color: white;
}

.discussion-form .add-on {
    color: red;
}

.discussion-form .popover-title {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.discussion-form .post-body {
   width: 70%;
   height: 200px;
}

.discussion-form .form-horizontal .control-label {
    width: 140px;
}

.discussion-form .form-horizontal .controls {
    margin-left: 155px;
}

/*****************************************/

.category-table .category-header{
    border-bottom: 4px solid lightblue;
}

.table_header .category-search {
    margin-bottom: 10px;
}
