.search-bar {
    margin: 10px 0;
}

.discussion-bar {
    margin-bottom: 5px;
}

.create-post .btn {
    width: 100%;
    color: white;
}

.discussion-bar .breadcrumb {
    margin-bottom: 0;
    background: white;
    border-radius: 0;
}


.table_header {
    position: relative;
    padding: 55px 19px 14px;
    background-color: #fff;
    /*
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    */
    margin-bottom: 15px;
}

.table-title {
    position: absolute;
    top: 19px;
    left: -8px;
    padding: 3px 7px;
    font-size: 18px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #5a9ecc;
}

.table_header .view-all, .table_header .create-post {
    margin: 20px 0;
}

.recommended-you {
    background-color: #fff;
}



.btn {
    font-weight: bold;
    color: #5a9ecc;
}


/********************************/


.discussion-form {
    margin-top: 15px;
}

.discussion-form .the-legend {
    border-style: none;
    border-width: 0;
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 0;
    font-weight: bold;
}


.discussion-form .the-fieldset {
    border: 2px groove threedface #444;
    -webkit-box-shadow:  0 0 0 0 #000;
    box-shadow:  0 0 0 0 #000;
    background-color: white;
}

.discussion-form .add-on {
    color: red;
}

.discussion-form .popover-title {
    padding-top: 0;
    padding-bottom: 0;
    border: 0;
}

.discussion-form .post-body {
   width: 70%;
   height: 200px;
}

.discussion-form .form-horizontal .control-label {
    width: 140px;
}

.discussion-form .form-horizontal .controls {
    margin-left: 155px;
}

/*****************************************/

.category-table .category-header{
    border-bottom: 4px solid lightblue;
}

.table_header .category-search {
    margin-bottom: 10px;
}

/*************************************/

.post-question .content {
    background-color: #5161bc;
}

.post-question .question {
    margin: 20px 10px 14px 15px;
    font-weight: bold;
    font-size:  26px;
    color: #FFF;
}

.post {
    margin-top: 5px;
}
.post .post-profile{
    background-color: #FFF;
    padding-left: 4%;
    padding: 0 3% 0 3%;
}

.post-profile dd {
    margin-left: 28%;
}

.post .profile-image {
    margin-top: -30px;
    float: left;
    margin-right: 4%;
    max-height: 100px;
    max-width: 100px;
}

.post .post-body {
    padding:  5px 10px 10px 15px;
    background-color: #FFF;
    min-height: 143px;
}

.reply .reply-body {
    padding:  5px 10px 10px 15px;
    background-color: #FFF;
}

.post-body .content {
    min-height: 3em;
    overflow: hidden;
}

.post-title {

   font-size: 12px;
   font-weight: normal;
   color: #555;
}

.author {
    margin-top: 7px;
    text-transform: none;
    border-bottom: 1px solid #eee;
    font-size: 10px;
    color: #999;
}

.reply-content  .profile-image {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 20px;
}

.reply-content .reply-post {
    float: right;
    margin-top: 7px;
}

.reply-content .comment-content {
    margin: 16px 0  0 50px;
}

.comment-content .comment-table {
    margin-bottom: 0;
}

.comment-table tr {
    background-color: #edeff4;
}

.comment-table td {
    border-top: 1px solid #FFF;
}

.comment-content .comment-text {
    color: rgb(70, 70, 70);
    font-size: 13px;
}

.comment-form {
    margin-bottom: 0;
}

.comment-form .comment-input {
    margin-bottom: 0;
    height: 22px;
    overflow: hidden;
}

.reply-body .rely-to-post {
    margin-top: 10px;
}

.reply-to-post .post-button {
    margin-top: 10px;
    width: 20%;
}
/*****************************/

.reply {
    margin-top: 10px;
}


.related-info {
    background-color: #FFF;
}


.hr {
    background-color: #bfbfbf;

    margin: 30px 15px 30px 15px;
    background: #fff url('/static/img/pw_maze_white.png') repeat-x 0 100%;
    border: 2px dotted #ccc;
}

h2 {
font-family: Trebuchet MS,Liberation Sans,DejaVu Sans,sans-serif;
font-size: 140%;
font-weight: bold;
margin-bottom: 7px;
line-height: 1.3;
}