@media (min-width: 1200px) {
.row-fluid .span12 {
  width: 97.905983%;
}
}

@media (max-width: 979px) and (min-width: 768px) {
.row-fluid .span12 {
width: 98.0%;
}
}

#content {
    margin-top: 2px;
}

#content [class^="span"] {
    margin-left: 5px;
}


#welcome-bar [class^="span"] {
    margin-left: 5px;
}

#top-navbar [class^="span"] {
    margin-left: 5px;
}

/******* welcome bar **************/
#welcome-bar {
    background-color: rgb(168, 184, 204);
}

#welcome-bar .welcome-text {
    font-size: 20px;
    font-weight: bold;
    border-left: 1px solid  rgb(159, 170, 184);
    border-right: 1px solid  rgb(159, 170, 184);
}

#welcome-bar .welcome-text > a, 
#welcome-bar .nav-menu .menu > a {
   color: rgb(238, 238, 238);
   font-weight: bold;
}

#welcome-bar .welcome-text > a:hover, 
#welcome-bar .nav-menu .menu > a:hover {
   color: #5a9ecc;
   border-radius: 0px;
}

#welcome-bar .nav-menu .menu {
   float: right;
   border-left: 1px solid  rgb(159, 170, 184);
   width: 140px;
}

#welcome-bar .nav-menu .nav-pills {
   margin-bottom: 0px;
}


#welcome-bar .nav-menu .menu:first-child {
   border-right: 1px solid  rgb(159, 170, 184);

}


hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 11px 0px 18px 0px;
}




